# Added by Android Studio / Gradle
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
build
/captures
.DS_Store
/app/build
*.iml

# C++ / NDK
.cxx/
cmake-build-debug/
.externalNativeBuild/

# Web
/web/dist
/web/node_modules

# Misc
*.hprof
*.log
